**/.DS_Store
agent/backend/__pycache__/
agent/dashboard/__pycache__/
agent/backend/__pycache__/data.cpython-310.pyc
agent/__pycache__/__init__.cpython-310.pyc
agent/backend/__pycache__/data.cpython-310.pyc
agent/backend/__pycache__/loss.cpython-310.pyc
agent/backend/__pycache__/models.cpython-310.pyc
agent/backend/__pycache__/utils.cpython-310.pyc
agent/dashboard/__pycache__/__init__.cpython-310.pyc
agent/dashboard/__pycache__/data.cpython-310.pyc
agent/dashboard/__pycache__/testing.cpython-310.pyc
agent/dashboard/__pycache__/training.cpython-310.pyc
